#startGameBtn {
    height: 10rem;
    width: 30rem;
    margin: 4rem;
    font-size: 5rem;
    padding: 1rem 0rem;
}

#greet {
    width: 95vw;
    height: 95vh;
    display: block;
    font-family: 'Minecraft';
}

.greetDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}